@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Teko', sans-serif;
}

nav ul{
    display: flex;
    list-style-type:none;
    align-items: center;
    height:65px;
    background-color: black;
    color: white;
}

.brand img{
    width:55px;
    padding : 0 8px;
}

.brand{
    display:flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    display:flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 10px;
    padding: 34px;
    background-image: url('bg.jpg');
}


nav ul li{
    padding:0 15px;
}

.container{
    min-height: 75vh;
}


.bottom{
    position:sticky;
    height:100px;
    background-color: black;
    color: white;
    bottom:0;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;

}

.icons{
    margin-top: 14px ;

    
}

.icons i{
    cursor:pointer;
}

#myProgressBar{
    width:80vw;

}

.songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 50px;
    display:flex;
    background-color: white;
    
    color: black;
    margin:12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 13px;
}

.songItem img{
    width: 43px;
    margin: 43px 10px;
    border-radius: 10px;
}

.timestamp{
    margin: 0 13px;
    
    
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Times New Roman', Times, serif;
}

.songInfo img{
    opacity:0;
    transition:opacity 1s ease-in;

}